*{
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: aqua;
    height: 100px;
    text-align: right;
}

.header span{
    padding: 50px;
    font-size: 30px;
    position: relative;
    top: 30px;
}

.hoading{
    padding-top: 100px;
}

.hoading .picspace{
    float: left;
    width: 20%;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hoading .content{
    width: 50%;
    float: left;
    line-height: 2;
    padding-top: 50px;
    padding-bottom: 50px;
}